

body {
    background: url('../images/topography.png') repeat;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    color: #777;

}

h1, h2, h3, h4, h5, h6 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #4aaaa5;
    font-weight: bold;

}


header {
    background: white;
    border-bottom: 3px solid #ccc;
    margin-bottom: 30px;
}

header h1 {
    background: #4aaaa5;
    color: white;
    display: inline-block;
    font-size: 30px;
    width: 33%;
    text-align: center;
    padding: 25px;
}

nav {
    width: 300px;
    float: right;
    margin-top: 35px;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav a {
    color: #666666;
    font-size: 14px;
    padding: 5px 15px;
    border-right: #ccc 1px solid;
    text-decoration: none;
}

nav ul li:last-child a {
    border-right: none;
    padding-right: none;

}

h2 {
    font-size: 30px;
    padding: 15px 0px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
}

#biobox {
    background: white;
    padding: 25px;
    border: 1px solid #ccc;
    display: block;
    clear: both;
}

p {
    font-size: 16px; 
    line-height: 20px;
    margin-bottom: 20px;
}

img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

 .wrapper {
    width: 960px;
    margin: 0 auto;
 }

 form label{
     font-size: 20px;
     display: block;
     margin-bottom: 5px;

 }

 form input{
     width: 100%;
     display: block;
     margin-bottom: 25px;  
     border: 1px solid #999999;  
     padding: 4px;
    
 }

textarea {
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid #999999;
    padding: 4px;
}


 form button {
     background: #4aaaa5;
     color: white;
     padding: 10px 20px;
     margin: 10px 0px;
     font-size: 16px;
     border: none;

 }

 .port-item {
     position: relative;
     background-color: black;
     margin-bottom: 20px;
     width: 45%;
     height: 200px;
     
 }

 #port1 {
     background-image: url(../images/port1.jpg);
     float: left;

}

 #port2 {
    background-image: url(../images/port2.jpg);
     float: right;
 }

 #port3{
    background-image: url(../images/port3.jpg);
 
 }

 #port4 {
    background-image: url(../images/port4.jpg);
     float: right;
 }

 #port5{
    background-image: url(../images/port5.jpg);
 
 }

 #port6 {
    background-image: url(../images/port6.jpg);
    float: right;
}





 footer {
    background: #666666;
    border-top: 10px solid #4aaaa5;
    bottom:0;
    width:100%;
    text-align: center;
    color: #ccc;
    padding: 40px 0px 0px 0px;
    height: 50px;
    position: fixed;
}

.clearfix {
    display: block;
    clear: both;
    margin-bottom: 130px;

}